directory = /var/lib/rtorrent/downloads
session = /var/lib/rtorrent/sessions
schedule = watch_directory,5,5,load_start=/var/lib/rtorrent/~watch/*.torrent
schedule = low_diskspace,5,60,close_low_diskspace=10240M
port_range = 55950-56000
port_random = yes
check_hash = yes
use_udp_trackers = yes
encryption = allow_incoming,enable_retry,prefer_plaintext
dht = disable
peer_exchange = no
scgi_port = 0.0.0.0:5000